@charset "UTF-8";
/*** configuartion html **/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/************/
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.3;
  scroll-behavior: smooth;
}

body {
  max-width: 450px;
  margin: 0px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/**** header ****/
header {
  background: white;
  z-index: 2;
  font-family: "Shrikhand", cursive;
  font-size: 2, 5rem;
  height: 5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  height: 4rem;
}

#logo {
  height: 3rem;
  margin: auto;
  margin-bottom: 0.2rem;
}

main {
  font-family: "Roboto", sans-serif;
  /*  position:relative;*/
}

/**** Localisation barre ***/
#local {
  height: 3.5rem;
  position: relative;
}

.localisation {
  display: flex;
  padding: 1.2rem;
  background-color: #eaeaea;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}
.localisation .local-icon {
  font-size: 1.1rem;
  margin-left: -2rem;
}
.localisation .Text-local {
  font-size: 17px;
  font-weight: 500;
  color: #353535;
}

/*** section invitation à réserver **/
.reservation {
  background-color: #f2f2f2;
  text-align: center;
  padding: 2.5rem 0.2rem 3rem 0.5rem;
}
.reservation h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.reservation p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 29px;
  color: #353535;
}
.reservation button {
  color: white;
  border-radius: 30px;
  text-align: center;
  justify-items: center;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;
  background-image: linear-gradient(162deg, #FF79DA 1%, #9356DC 100%);
  /* background-image: linear-gradient(to top, rgba(147,86,220,0.9), rgba(255,121,218,0.9));
  */
  /* background: linear-gradient(162deg, $rose-secondaire 1%, $violet-primaire 100%);*/
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  border: transparent;
  height: 3rem;
  width: 55%;
}
.reservation button:hover {
  transform: scale(1.2);
  opacity: 0.9;
  transition: all 200ms;
}

.loader {
  /*compteur*/
  display: grid;
  place-items: center;
  position: fixed;
  background-color: white;
  height: 100vh;
  /* avec position fixed il faut définit left et right */
  inset: 0; /** remplace top bottom left right même principe margin et padding*/
  z-index: 1; /** le z-index le plus haut passe au dessus. la position doit être définie**/
  opacity: 0.9;
  animation: disappear 200ms 3s; /* on peut mettre forwards ici*/
  animation-fill-mode: forwards;
  transform-origin: top; /* disparaîttre vers le haut */
  /*animation-delay: 2*$duree-anim;*/
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 6px solid transparent;
  border-top: 6px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s infinite linear; /** linear vitesse constante de rotation **/
  animation-iteration-count: 3;
}

@keyframes disappear {
  /** faire dispparaitre l'animation du loader **/
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/** ***** section fonctionnement ***/
/** box-shadow boutton partie fonctionnement **/
#fonction {
  padding: 2rem;
}
#fonction h2 {
  margin: 1rem 0 2rem -0.5rem;
}

.fonction-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.fonction-choix {
  padding: 1.5rem;
  /* box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);*/
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
  gap: 0.3rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.fonction-choix:hover {
  background-color: #f5edff;
  transform: scale(1.01);
  opacity: 0.9;
  transition: all 200ms;
}
.fonction-choix:hover i {
  color: #9356DC;
}

.num-order {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  align-items: center;
  left: -0.9rem;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
  font-size: 14px;
}

.text-order {
  font-weight: 500;
  font-size: 16px;
}

.adjust-icon {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/*** section restaurants **/
#restaurants {
  background-color: #f2f2f2;
  padding: 3rem 1.2rem 2rem 1.2rem;
}
#restaurants h2 {
  margin-bottom: 0.5rem;
}

.liste-resto {
  margin: 0;
  width: 100%;
  padding: 0.8rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.resto-card-item {
  width: 100%;
  min-width: 2.3rem;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  position: relative;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;
  color: black;
}

.img-resto {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.resto-card {
  width: 100%;
  padding: 0.1rem;
}

.resto-card .tag {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.43rem 0.7rem 0.3rem 0.7rem;
  border-radius: 0.125rem;
  position: absolute;
  top: -7rem;
  right: 1rem;
  font-size: 13px;
  font-weight: 500;
}

.description-resto {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem 1.5rem 1rem 1rem;
  position: relative;
}
.description-resto h3 {
  font-size: 18px;
}
.description-resto p {
  font-size: 17px;
  font-weight: 300;
}
.description-resto i {
  position: absolute;
  right: 2rem;
  top: 50%;
  font-size: 1.6rem;
  cursor: pointer;
  transform: translateY(-50%);
}
.description-resto .fa-solid {
  color: transparent;
  /* background-image: linear-gradient(red,blue);*/
  background-clip: text;
  --webkit-background-clip:text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.description-resto:hover .fa-solid {
  opacity: 1;
  /* @include linear-gradient.gradient-violet__rose;*/
  /* à revoir linear gradient se met sur le fond de l'image*/
  color: #9356DC;
  transform: translateY(-50%) scale(1.2);
}

.addFavoriteIcon {
  position: relative;
  font-size: 24px;
  line-height: 2rem;
  font-weight: lighter;
}
.addFavoriteIcon:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  border: red;
}

/*
.addFavoriteIcon1 {
    color: white;
    position: relative;
    font-size: 24px;
    line-height: 2rem;
   /* transition: opacity 0.3s ease-in-out;
    & :hover {
            transition-duration: .25s;
            color:red;
    }
}

.position-coeur {

    position: absolute;
    top: 36px;
    left: 353px;
    height: 100%;
    width: 100%;

}*/
/**** footer *****/
footer {
  width: 100%;
  background: #353535;
  color: white;
  padding: 0.2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.footer-titre {
  font-family: "Shrikhand", "cursive";
  font-weight: 200;
  margin: 1rem 0rem;
  font-size: 1.1rem;
  color: white;
}

.footerlink {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.footer-icon {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 1.5rem;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/***** style pages ****/
@keyframes quarter-spin {
  0% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0; /*scale(0);*/
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu-page-header {
  position: relative;
  direction: row;
}

.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.logo-page {
  height: 30px;
  width: 173px;
  margin-left: 8rem;
}

.menu-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.container-menu {
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
}

.entete-menu-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem 0 1rem;
}
.entete-menu-page i {
  position: absolute;
  right: 2rem;
  top: 66%;
  font-size: 1.6rem;
  cursor: pointer;
  transform: translateY(-50%);
}
.entete-menu-page .fa-solid {
  color: transparent;
  /*  background-image: linear-gradient(red,blue);*/
  background-clip: text;
  --webkit-background-clip:text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.entete-menu-page:hover .fa-solid {
  opacity: 1;
  color: #9356DC;
  transform: translateY(-50%) scale(1.2);
}

.entete-menu-page h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 500;
}

/******* Sous menu *****/
.list-sous-menu-page {
  padding: 0.5rem 1rem;
}

.menu-item { /** une section  -- gérer le visuel**/
  /* box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);*/
  cursor: pointer;
}

.item { /** non de class de la section sous menu*/
  /** fixer le délais de l'animation pour chaque enfant **/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  margin-top: 1rem;
}
.item:nth-child(1) {
  animation-delay: 100ms;
}
.item:nth-child(2) {
  animation-delay: 200ms;
}
.item:nth-child(3) {
  animation-delay: 300ms;
}
.item .sous-menu-titre {
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  color: #353535;
}

.sous-menu-1 {
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  animation: appear 1s;
  animation-fill-mode: both; /* les éléménts restent affichés aprés l'animation*/
}
.sous-menu-1 .sous-menu-item {
  padding: 1rem;
  overflow: hidden;
}
.sous-menu-1 .sous-menu-item h4 {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sous-menu-1 .sous-menu-item p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sous-menu-1 .sous-menu-prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  margin-left: auto;
  padding: 1rem;
}
.sous-menu-1 .menuItem__check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  width: 5rem;
  height: 5rem;
  margin-right: -5rem;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.5s; /* margin-right donne le même résultat*/
  flex-shrink: 0;
}
.sous-menu-1 .menuItem__check i {
  display: grid;
  place-items: center;
  background-color: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.sous-menu-1:hover .menuItem__check {
  margin-right: 0;
}
.sous-menu-1:hover i {
  animation: quarter-spin 1s ease;
}

.sous-menu-titre:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

/**** gérer le wrap **/
.menuItem__icon {
  background-color: #99e2d0;
}

/**** section bouton commander ***/
.commander {
  padding: 2rem;
}

.commander-ok {
  color: white;
  border-radius: 30px;
  text-align: center;
  justify-items: center;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;
  background: linear-gradient(162deg, #FF79DA 1%, #9356DC 100%);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  border: transparent;
  height: 3rem;
  width: 44%;
  margin-left: 7rem;
}

/*# sourceMappingURL=style.css.map */
