@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

/************/

 
$violet-primaire :#9356DC;
$rose-secondaire :#FF79DA;
$vert-tertiaire: #99E2D0;
$lightgrey : #f2f2f2;
$migrey : #eaeaea;
$bleue :red;



* {

    box-sizing: border-box;
}


body {
    width:450px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

header {
   
    font-family: 'Shrikhand', 'cursive';
    text-align: center;
    padding:0.3rem;
    font-size: 20px;
    width:100%;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    margin:0px;
    z-index: 1000;
    position:relative;

}

.localisation {
    display:flex;
    width:100%;
    padding:1rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;;
    background-color:$migrey;
    gap:0.5rem;
    justify-content: center;
    justify-items: center;
   
  
}

#logo {

    padding: 1rem 0 0.3rem 0;
}
.text-local {

    font-size: 500;
}

#book{
    
    background-color: $lightgrey;
    
}

.reservation {

    display:flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    padding:2.4rem 2rem 3rem 2rem;
    
    justify-content: space-between;
}

.book-titre {
    font-size: 1.8rem;
    text-align: center;
    margin:0px;
    padding:0 1rem 0 2rem;
}

.book-text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
   
}

.book-button {

    color:white;
    padding : 1.5rem 3rem;
    border-radius: 30px;
    background-color: $rose-secondaire;
    text-align: center;
    justify-items: center;
    font-size: 16px;
    white-space: nowrap;
    background: linear-gradient(162deg, $rose-secondaire 0%, $violet-primaire 100%);
    
    border:transparent;
    margin:1rem 0 1rem 4rem;
    width:70%;
    height:4rem;
        
}
