@use '../outils-utiles/box-shadow.scss' as box;

#fonction {
    padding :2rem;

    & h2 {

  
        margin:1rem 0 2rem -0.5rem;
    }
     
}


.fonction-list {
    display:flex;
    flex-direction: column;
    padding:0;
    gap:1.2rem;
    margin-bottom: 2rem;
    
}

.fonction-choix {
    padding: 1.5rem;

    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative; 
    align-items: center;
    justify-items: center;
    gap:0.30rem;
    @include box.button-boxshadow; /** bos-shadox remplacer*/

    &:hover {
        background-color:#f5edff;
        
        transform: scale(1.01);
        opacity: 0.9;
        transition: all 200ms;
    }

    &:hover i {
       
            color :$violet-primaire;
       
    }

    
}
    
.num-order {
   background-color: $violet-primaire;
   color:white;
   
   border-radius: 50%;
   align-items: center;
   left:-0.90rem;
   display:flex;
   justify-content: center;
   position:absolute;
   padding:  0.3rem 0.5rem 0.1rem 0.5rem;
   font-size: 14px;
}

.text-order {
    font-weight: 500;
    font-size: 16px;
}

.adjust-icon {

    margin-right: 1rem;
    color: #7e7e7e;
    font-size: 1.20rem;
    margin-left: 0.5rem;
}



@media screen and (min-width:600px) {
    .fonction-list {
 
     flex-direction: row;
     gap:2rem;
 
    } 

    .fonction-choix {

        width:40%;
    }
 
    
    
 }
 