footer {

    width: 100%;
    background: #353535;
    color: white;
    padding: 0.2rem 2rem 2rem 1.5rem;
    display:flex;
    flex-direction: column;   
  
}

.footer-titre {
    font-family: 'Shrikhand', 'cursive';
    font-weight: 100;
    margin:1rem 0rem 0.95rem 0rem;
    color:white;
    font-size: 17px;
}

.footerlink {

    display:flex;
    align-items: center; 
    color:white;
    text-decoration: none;

 }

footer nav {
    display: flex;
    flex-direction: column;
    gap:0.3rem;

    font-size: 15px;
    font-weight: 300;
}

.footer-icon {

       margin-right: 0.5rem;
    
       font-size: 0.7rem;
      
}

.footerlink .titre-propose {

    margin-left: 0.3rem;
}