@use '../outils-utiles/mixin.scss';
@import '../outils-utiles/animations.scss';


.menu-page-header {
    position: relative;
    /*direction: row;*/
   
}

.retour-index {
    display:flex;
    width:100%;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

    & > div {

        width:50%;
    }

    & .container-img {

        display:flex;
        justify-content: center;
    }
}
 
.header__arrow {
    position: absolute;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size:22px;       /*1.2rem;*/
    color: #000;
    font-weight: bold;
}

.logo-page {

    height: 30px;
    width:173px;
 
}

.menu-img {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}


.container-menu {
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    background-color: #f6f6f6;
    position:relative;
    z-index: 1;
}

.entete-menu-page {

    display :flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    padding: 2rem 2rem 0rem 1rem;

    

    & i {
        position:absolute;
        right: 2rem;
        top:61%;
        font-size: 1.6rem;
        cursor: pointer;
        transform: translateY(-50%);      
    }

    & .fa-solid {
        color:transparent;
      
        background-image: linear-gradient(162deg, $rose-secondaire 1%, $violet-primaire 100%);
        background-clip: text;
        --webkit-background-clip :text;
        opacity: 0;
        transition:all 200ms ease-in-out;
       
         /* appliquer le dégrader au bouton coeur */
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         -moz-background-clip: text;
         -moz-text-fill-color: transparent;
        
    }

    &:hover .fa-solid {  
       opacity: 1;
      
       transform: translateY(-50%) scale(1.2);

             

    }
    
}


.entete-menu-page h1 {

        
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-weight: 500;   
}


/******* Sous menu *****/


.list-sous-menu-page{

    padding:0.5rem 1rem;
    display:flex;
    flex-direction: column;

   
   
  }
  


.item {            /** nom de classe de la section sous menu*/

    /** fixer le délais de l'animation pour chaque enfant **/
       
   

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    overflow: hidden;
    margin-top: 2rem;
    cursor: pointer;

   @include mixin.apparition-categorie__menu;
    
  


    & .sous-menu-titre 
    
    {

        text-transform: uppercase;
        position: relative;
       
        font-weight: 400;
        font-size: 18px;
        color: #353535;
        animation: appear 1s;
        animation-fill-mode: both;
       

        
    }
}


.sous-menu-1 
{
    @include mixin.apparition-categorie__menu;
   
        border-radius: 0.75rem;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
       
        /*align-items: center;* /** enlever pour mettre le prix en bas**/
        overflow: hidden;
        cursor: pointer;
        animation: appear 1s;
        animation-fill-mode: both;  /* les éléménts restent affichés aprés l'animation*/
       

        & .sous-menu-item
        {

            padding:0.5rem;
           
            overflow: hidden;
        }
        
        & .sous-menu-item h4 {

            font-weight: 500;
            white-space:nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 18px;
            margin-bottom: 0.3rem;
            
            
        }

        & .sous-menu-item p {

            white-space:nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 16px;
        }


        & .sous-menu-prix {
        
            font-weight: 500;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-left: 0.5rem;
            margin-left:auto;
            padding : 0.5rem 1rem 0.5rem 0.5rem;
        }

              
       & .menuItem__check 
       
       {
            display: grid;
            place-items: center;
            background-color:$vert-tertiaire;
            width:5rem;  
            height: 4rem;      
            margin-right: -5rem;
            border-radius: 0 1rem 1rem 0;
            transition: all 0.5s;  /* margin-right donne le même résultat*/
            flex-shrink: 0;
            
          & i 
           {
                display: grid;
                place-items: center;
                background-color: white;
                aspect-ratio:1/1 ;  /* la forme est plus belle */
                width:2rem;
                border-radius: 1rem;
                color:$vert-tertiaire;           
             
                

            }
        
        }

        &:hover 
        {
        
            .menuItem__check {
        

                margin-right: 0;   
        
        }

        i {        
            animation: quarter-spin 1s ease;
        }

                   
    
        }
       
}

.sous-menu-titre:after {
  
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
}


/**** section bouton commander ***/
.commander {

    padding :2rem;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.commander-ok {

    color: white;
    border-radius: 30px;
    text-align: center;
    justify-items: center;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 500;
    background: linear-gradient(162deg, #FF79DA 1%, #9356DC 100%);
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    border: transparent;
    height: 3rem;
    padding : 0.75rem 2.75rem;
}



@media screen and (min-width:900px) {
   .list-sous-menu-page {

    flex-direction: row;
    gap:2rem;

   } 

   .item {

    width :35%;
   
   }

   
}
