@use '../outils-utiles/mixin.scss';

#restaurants {

    background-color: $lightgrey;
    padding :3rem 1.2rem 2rem 1.2rem;

    & h2 {
        margin-bottom: 0.5rem;
    }
}

.liste-resto {

    margin:0;
    width:100%;
    padding:0.8rem 0 0 0;
    display:flex;
    flex-direction: column;
    gap:2rem;
    position:relative;
}

.resto-card-item {

    width: 100%;
    min-width: 2.3rem;
    border-radius: 2rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    cursor: pointer;
   /* position: relative;*/
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration: none;
    color:black;

}
.img-resto {

    height: 10rem;
    width:100%;
    object-fit:cover;
    border-radius: 1rem 1rem 0 0;
}

.resto-card {
    width:100%;
    padding:0.1rem;
    position:relative;
}

.resto-card .tag {
    
   
    background-color: #99e2d0;
    color: #1b6150;
       
    padding: 0.43rem 0.7rem 0.3rem 0.7rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 100%;       /* 13px;*/
    font-weight: 500;
   
}


.description-resto {

    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: white;
    border-radius: 0 0 2rem 2rem;
    padding:1rem 1.5rem 1rem 1rem;
    position:relative;

    & h3 {
        font-size: 18px;
    }

    & p {
        font-size: 17px;
        font-weight: 300;
    }

    & i {
        position:absolute;
        right: 2rem;
        top:45%;
        font-size: 1.6rem;
        cursor: pointer;
        transform: translateY(-50%);  
     }
    
     
    & .fa-solid {
        color:transparent;
       /* background-image: linear-gradient(red,blue);*/
       background-image: linear-gradient(162deg, #FF79DA 1%, #9356DC 100%);
        background-clip: text;
        --webkit-background-clip :text;
        opacity: 0;
        transition:all 200ms ease-in-out;
         /* appliquer le dégrader au bouton coeur */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
       
       
    }

    &:hover:active .fa-solid {
   
     
       opacity: 1;
      /* @include linear-gradient.gradient-violet__rose;*/
      /* à revoir linear gradient se met sur le fond de l'image*/

      /*color: linear-gradient(red,blue); /*   #9356DC;*/
      /* color:$violet-primaire;*/
       transform: translateY(-50%) scale(1.2);

           
       

    }
    }


    
    
.addFavoriteIcon{

    position: relative;
    font-size: 24px;
    line-height: 2rem;
    font-weight: lighter;

    &:hover {
        cursor:pointer;
        transition-duration: .25s;
       
        border :red;

      


        
    }
}


@media screen and (min-width:600px) {
    .img-resto {
       height: 25vw;
    }

    .resto-card {

        width:47%;
    }


    .liste-resto {

        flex-direction: row;
        flex-wrap: wrap;
            
    }

   
}


@media screen and (min-width:900px) {
    .img-resto {
       height: 30vw;
    }

    .resto-card {

        width:100%;
    }

   

   
}

    



