$violet-primaire :#9356DC;
$rose-secondaire :#FF79DA;
$vert-tertiaire: #99E2D0;
$lightgrey : #f2f2f2;
$migrey : #eaeaea;
$bleue :red;
$vert-tag-fond :#a9e0d1;
$vert-tag-text :#3b8468;
$migrey1: #f3f3f3;