@use '../outils-utiles/color.scss';
/*
@mixin button-boxshadow {

    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
}*/

@mixin base-shadow {
    box-shadow: 1px 1px 8px -3px black;
    
}

@mixin gradient-violet__rose {
    
    background: linear-gradient(162deg, color.$rose-secondaire 1%, color.$violet-primaire 100%)

   
}

@mixin apparition-categorie__menu {
    @for $i from 1 through 3 {
        &:nth-child(#{$i})
         {

            animation-delay: 100ms *$i;
        }
       }

}
